{{#each articles}}
  {{!-- modal trigger --}}
  

  <!-- Modal Structure -->
  <div id="note-modal" class="modal">
    <div class="modal-content">
      <h4>Add A Note</h4>
      <form class="note-form" action="submit">
        <input id="note-title" type="text">Title
        <input id="note-body" type="text">Note
      </form>
      
    </div>
    <div class="modal-footer">
      <a href="/articles" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>
{{/each}}