<div class="Title" id="weekly-comics-header">
	<h3>
		Your Saved Comics
	</h3>
</div>

{{#each articles}}
{{#if saved}}

<div class="col s12 m6">
  <div class="card">
    <div class="card-image">
      <img src="{{{img}}}"></img>
      <a class="note-btn btn-floating halfway-fab waves-effect waves blue" data-target="note-modal"><i class="material-icons">&#129300;</i></a>
    </div>
    <div class="card-content">
      <p>{{{title}}}</p>
      <button data-id={{_id}} class="unsave-article-btn">Delete Comic Cover</button>
    </div>
  </div>
</div>
{{/if}}
{{/each}}